
.container{

 justify-content: center;
 align-items: center;
 min-height: 100vh;
 
}

.btn-agregar{
  
  background-color: green;
  color: #f4f4f4;
  cursor: pointer;



}

.estudiante{
  display: flex;
  gap: 15px;
  border-radius: 8px;
  
}

.table-container{

  padding: 20px;
  background-color: #f4f4f4;
  
  

}

.btn-eliminar{
  background-color: red;
  cursor: pointer;
  color: #f4f4f4;
}

body{
  background-color: rgb(113, 114, 160);
  color: black;


}
